<div class="review-form">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="rating">Rating (1-5):</label>
        <div class="star-rating">
            <span *ngFor="let star of stars; let i = index" 
                  [class.filled]="i < reviewForm.get('rating')?.value" 
                  (click)="rate(i + 1)">
              &#9733;
            </span>
          </div>
        <div *ngIf="reviewForm.get('rating')?.invalid && (reviewForm.get('rating')?.dirty || reviewForm.get('rating')?.touched)">
          <small *ngIf="reviewForm.get('rating')?.errors?.['required']">Rating is required.</small>
          <small *ngIf="reviewForm.get('rating')?.errors?.['min']">Minimum rating is 1.</small>
          <small *ngIf="reviewForm.get('rating')?.errors?.['max']">Maximum rating is 5.</small>
        </div>
      </div>
  
      <div>
        <label for="comment">Comment:</label>
        <textarea id="comment" formControlName="comment" rows="5"></textarea>
        <div *ngIf="reviewForm.get('comment')?.invalid && (reviewForm.get('comment')?.dirty || reviewForm.get('comment')?.touched)">
          <small *ngIf="reviewForm.get('comment')?.errors?.['required']">Comment is required.</small>
          <small *ngIf="reviewForm.get('comment')?.errors?.['maxlength']">Comment cannot be more than 500 characters.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="reviewForm.invalid">Submit Review</button>
    </form>
  </div>
  

