.book-detail {
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    }

    .book-detail-header {
    display: flex;
    align-items: flex-start;
    }

    .book-cover {
    width: 300px;
    height: 400px;
    margin-right: 20px;
    border-radius: 5px;
    }

    .book-info {
    flex-grow: 1;
    margin-left: 2%;
    }

    .book-info h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    }

    .book-info h2 {
    margin: 5px 0;
    font-size: 20px;
    color: #666;
    }

    .book-info p {
    margin: 10px 0;
    color: #555;
    }

    .rating, .reviews {
    font-weight: bold;
    color: #333;
    }

    .view-reviews-btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

    .view-reviews-btn:hover {
    background-color: #0056b3;
    }

.description {
    margin-top: 15px;
    font-style: italic;
}

.publisher, .genre, .isbn, .page-count, .language, .created, .updated {
    font-size: 14px;
    color: #777;
}
